<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="DataConnectProviders" type="WComm.DataConnectProviders,WComm" />
  </configSections>
  <DataConnectProviders>
    <Providers>
      <add name="Default" type="WComm.Provider" ProviderType="System.Data.SqlClient" RegistryKeyValueProperty="config" ConnectionStringProperty="data source=PC201511191301\SQL01; Initial catalog=ZFulfillment; User Id=sa; Pwd=999" />
      <add name="ZoytoCommon" type="WComm.Provider" ProviderType="System.Data.SqlClient" RegistryKeyValueProperty="config" ConnectionStringProperty="data source=PC201511191301\SQL01; Initial catalog=Zoyto_Common; User Id=sa; Pwd=999" />
    </Providers>
  </DataConnectProviders>
  <appSettings>
    <add key="RetryInterval" value="0"/>
    <add key="SourceId" value="19"/>

    <add key="Authorization" value="Basic YTIyMzJmZWI2YmVhNDFiZThlNTA4YjNkMDc1OTkxYzQ6MmYxMTQzYjU3MjJmNDFkYTliOWMzZjg0ZGYyNWJjZDI="/>
    <add key="ShipSationAPI" value="https://ssapi.shipstation.com"/>


    <add key="SMTPServer" value="smtp01.orderz.com"/>
    <add key="SMTPUserName" value=""/>
    <add key="SMTPPassword" value=""/>
    <add key="LogErrorSubject" value="ShipSation"/>
    <add key="LogErrorEmailFrom" value="noreply@orderz.com"/>
    <add key="LogErrorEmailTo" value="Lee.Li@zoyto.com;dongmei.wu@zoyto.com;Dan.Lu@zoyto.com"/>
    <add key="RespondTo" value="noreply@orderz.com"/>
    <add key="AutoCreateProduct" value="true" />
    <add key="IsTestMode" value="true" />
    <add key="TestMailTo" value="ludan176127@163.com" />
    <add key="MailTo" value="ludan176127@163.com" />
    <add key="MailBCC" value="ludan176127@163.com" />
    <add key="CommandTimeout" value="600" />
    <add key="SMTPTimeout" value="6000" />


    <add key="ProgramList" value="463,469,462"/>
    <add key="OrderType463" value="141"/>
    <add key="Program463" value="DefaultZstore2"/>
    <add key="StockReset" value="463"/>


    <add key="Hold" value="N"/>
    <add key="HoldMinutes" value="120"/>
    <add key="MachineName" value="PC201511191301" />

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>